/*  ========
    CONTENTS
    ========
    1. global styles
    2. typography
    3. spacing





/*  ================
    1. global styles  
    ================ */

*, *::before, *::after {box-sizing: inherit}

*, *::before, *::after {margin: 0px; padding: 0px;}

html {
    box-sizing: border-box;
}



/*  =============
    2. typography
    ============= */
:root {
    --font-primary: sans-serif;
    --secondary-font: ;

    /*sizing*/
    --text-base-size: 1em;
    --text-scaling-ratio: 1.2;

    --text-xxs: calc(1em / (var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio)));
    --text-xs: calc(1em / (var(--text-scaling-ratio) * var(--text-scaling-ratio)));
    --text-sm: calc(1em / var(--text-scaling-ratio));
    --text-md: calc(1em * var(--text-scaling-ratio));
    --text-lg: calc(1em * var(--text-scaling-ratio) * var(--text-scaling-ratio));
    --text-xlg: calc(1em * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio));
    --text-xxlg: calc(1em * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio));
    --text-xxxlg: calc(1em * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio) * var(--text-scaling-ratio));

}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
}

h1 {
    font-size: var(--text-xxxlg);
}

h2 {
    font-size: var(--text-xxlg);
}

h3 {
    font-size: var(--text-xlg);
}

h4 {
    font-size: var(--text-lg);
}
 
/*  ==========
    3. spacing
    ========== */

:root {
    --space-baseline: 1em;
    --space-scale-ratio: 1.4;
    
    /* spacing values */
    --space-xxxs: calc(1em / (var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio)));
    --space-xxs: calc(1em / (var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio)));
    --space-xxs: calc(1em / (var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio)));
    --space-xs: calc(1em / (var(--space-scale-ratio) * var(--space-scale-ratio)));
    --space-sm: calc(1em / var(--space-scale-ratio));
    --space-md: calc(1em * var(--space-scale-ratio));
    --space-lg: calc(1em * var(--space-scale-ratio) * var(--space-scale-ratio));
    --space-xl: calc(1em * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));
    --space-xxl: calc(1em * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));
    --space-xxxl: calc(1em * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio) * var(--space-scale-ratio));
    
    }

/*  =======
    4. colours
    ======= */

body {
    background-color:  #eeeeee;
}

:root {
    --button-color: #f1c40f;
    --button-color-hover: #ff8c00;
    --background-color: #ddd;
    --icon-color: #ff8c00;
    --font-color: black;
}


/*  ================
    layout and menus
    ================ */

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    background: #eeeeee;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
    
}

@media (min-width: 692px) {
    nav {
        flex-direction: row;
    }
} 

.nav-menu {
    display: flex;
    padding: 0px;
    width: 600px;
    
    
}

.nav-item {
    flex-grow: 1;
}

@media (max-width: 691px) {
    .nav-menu {
        flex-direction: column;
        width: 800px;

    }
}

.email_form {
    display: inline-block;
    margin-top: 60px;
}

@media (max-width: 691px) {
    .email_form {
        margin-top: 150px;
    }
}

.site-icon {
    font-size: var(--text-base-size);
    margin: 0 var(--space-xxs);
}

.nav-item {
    list-style-type: none;
    justify-self: end;
    color: var(--font-color);
    text-decoration: none;
    padding: 0.5em;
    
}

.main_title {
    font-size: var(--text-lg);
    margin: var(--space-xs);
    min-width: 325px;
}

.headline {
    font-size: var(--text-md);
    text-align: center;
    margin: var(--space-baseline) 0;
}

#email_input {
    display: block;
    margin: var(--space-lg) auto;
    padding: var(--space-xxxs);
}

.call_button {
    display: block;
    margin: 1em auto;
    background:var(--button-color);
    padding: var(--space-xxs) var(--space-md);
    border: none;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

.call_button:hover {
    animation-name: changes;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes changes{
    100% {
        background: var(--button-color-hover);
    }
}



.icon {
    font-size: var(--text-xxxlg);
    color: var(--icon-color);
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--space-sm)
}

@media (max-width: 691px) {
    .icon {
        display: none;
    }
}

.info-cards {
    margin: var(--space-xxxl) auto 0 auto;
}

.info-card {
    display: flex;
    width: 80vw;
    margin: 0 auto var(--space-lg) auto;
    justify-content: center;
}

.video-card {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-lg)
}

.video {
    margin-top: var(--space-lg)
}

.products {
   margin: var(--space-md) 0 var(--space-md) 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.product {
    border: solid 1px;
    margin: var(--text-base-size) 0px var(--text-base-size) 0px;
    display: flex;
    min-width: 290px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--space-sm)
}

@media (min-width: 810px) {
    .products {
        flex-direction: row;
    }
}

.product-title {
    text-transform: uppercase;
    font-size: var(--text-md);
    font-weight: 400;
    padding: var(--text-base-size) 0 var(--text-base-size) 0;
    background: #ddd;
    width: 100%;
    text-align: center;
}

.price {
    font-size: var(--text-lg), 24px;
    font-weight: bolder;
    padding: var(--space-sm);
    margin: var(--space-xxs);
}

.product-description {
    list-style-type: none;
    text-align: center;
    line-height: var(--space-lg)
}

.select-product {
    text-decoration: none;
    background: var(--button-color);
    padding: var(--space-xxs) var(--text-base-size);
    margin: var(--space-md) 0; 
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #ddd;
    padding: var(--space-md);
    max-width: 900px;
    margin: auto;
    
}

.footer-list {
    display: flex;
    list-style-type: none;
    
    
}

.footer-item {
    padding: 0 var(--space-sm) var(--space-sm) var(--space-sm);
    font-size: var(--text-sm);
    
}

.copyright-text {
    font-size: var(--text-sm);
    color: #444;

}

.footer-item-link {
    text-decoration: none;
    color: black;
}